<!DOCTYPE html> <!-- comentarios es con shif +alt+a ó control+ parentesis de cierre -->
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>

    <link rel="stylesheet" href="/css/styles.css"> <!-- no va el public en la direccion!!! -->
    <script src=""></script>
</head>

<body class="home">
    <main>
        <header>
            <nav class="menu">
                <ul>
                    <li><a href="/"></a>HOME</li>
                    <li><a href="/about"></a>ABOUT</li>
                    <li><a href="/music"></a>music</li>
                    <li><a href="/contact"></a>contact</li>
                </ul>
            </nav>
            <nav class="redes">
                <a href=""><i></i></a>
                <a href=""><i></i></a>
                <a href=""><i></i></a>
                <a href=""><i></i></a>
                <a href=""><i></i></a>
                <a href=""><i></i></a> <!-- en font awesome sacamos los iconos -->
            </nav>
        </header>
        <h2>EMILIA <br> COLE//</h2> 
        <h1>TWIST MY REALITY</h1>
    </main>

    </h1>

</body>

</html>